$yc_background_grey = #efefef
$yc_background_white = #fff
$yc_border_color_grey = #dbdbdb
$yc_color_white = #fff
$yc_color_black = #323232
$yc_color_grey = #969696
$yc_color_orange = #f9a11a
$yc_color_red = #F86C6C
$yc_color_bule = #6FAFDE
$yc_color_green = #82C97E
$yc_color_mask = rgba(0, 0, 0, 0.4)
$yc_margin = 10px
$yc_font_normal = 16px
$yc_font_small = 14px
$yc_font_large = 20px
$yc_border = 1px solid $yc_border_color_grey
$yc_shadow = 0 1px 2px $yc_color_grey
$yc_main_color = #498fc1

